/* PHASE 8: Thumbs */


.thumb {
    display: block;
    position: relative;
    width: 58px;
    height: 58px;
    border: 1px solid black;
    border-radius: 5px;
}

.profile-friends {
    display: flex;
    flex-wrap: wrap;
}

.profile-friends > li {
    padding: 3px;
}

.thumb:before {
    content: "";
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -7px;
    border-top: 5px solid black;
    border-bottom: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.thumb:after {
    content: attr(title);
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 65px;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
}